.interest {
  .container {
    display: flex;
  }
  ul {
    list-style: none outside none;
    padding-left: 0;
  }
  ul ul {
    margin-left: 6rem;
  }
  .item:first-child {
    min-width: 30%;
    max-width: 40%;
    padding-right: 3rem;
  }
}
