.interest {
  .container {
    display: flex;
  }
  ul {
    list-style: none outside none;
    padding-left: 0;
    .partial {
      &>.md-checkbox .md-label {
        font-weight: bold;
      }
    }
    .md-label span {
      font-size: 14px;
    }
  }
  ul ul {
    margin-left: 6rem;
  }
  .item:first-child {
    min-width: 40%;
    max-width: 45%;
    padding-right: 3rem;
  }
}
