//$primary: "indigo" !default;
//$accent: "pink" !default;
//$warn: "red" !default;
//$background: "grey" !default;
//$link: "light-blue" !default;

@import 'ember-gen';
@import 'settings';
@import 'menus';
@import 'interest';

.site-header {
  text-align: center;
  img.logo {
  }
  margin-bottom: -50px;
}

.language-select {
  position: absolute;
  right: 0;
  bottom: 0;
}

.fullwidth { width: 100%; }
.nowrap { white-space: nowrap; }
