//$primary: "indigo" !default;
//$accent: "pink" !default;
//$warn: "red" !default;
//$background: "grey" !default;
//$link: "light-blue" !default;

@import 'ember-gen';
@import 'settings';
@import 'interest';

.site-header {
  text-align: center;
  img.logo {
  }
  margin-bottom: -50px;
}

.language-select {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  a {
    padding: 5px;
    text-decoration: none;
  }
  @media('min-width: 960px') {
    right: auto;
    top: 10px;
    left: 10px;
    bottom: auto;
  }
}

.fullwidth { width: 100%; }
.nowrap { white-space: nowrap; }

.breadcrumbs {
  .crumb:not(:first-child) div {
    text-transform: capitalize;
  }
}
