{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <p>
        <a href="{% url 'user-new' %}">Add user</a>
    </p>
    <table>
        <tr>
            <th>Username</th>
            <th>User ID</th>
            <th>Role ID</th>
            <th>Role</th>
        </tr>
    {% for user in object_list %}
        <tr>
            <td>
                <a href="{% url 'user-edit' user_id=user.pk %}">
                    {{ user.username }}
                </a>
            </td>
            <td>{{ user.pk }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.role|role }}</td>
        </tr>
    {% empty %}
        <tr colspan="4">
            <td>No users yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
