{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <table>
        <tr>
            <th>Candidacy ID</th>
            <th>Candidate</th>
            <th>Position</th>
            <th>State</th>
        </tr>
    {% for candidacy in object_list %}
        <tr>
            <td>
                    {{ candidacy.pk }}
            </td>
            <td>{{ candidacy.candidate.username }}</td>
            <td>{{ candidacy.position.pk }} - {{ candidacy.position.title }}</td>
            <td>{{ candidacy.state }}</td>
        </tr>
    {% empty %}
        <tr colspan="6">
            <td>No candidacies yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
