<html>
    <head>
        <title>Apella</title>
    </head>
    <body>
        <h1>Apella</h1>
        <a href="{% url "institution-list" %}">Institutions</a>
        <a href="{% url "department-list" %}">Departments</a>
        <a href="{% url "subject-area-list" %}">Subject Areas</a>
        <a href="{% url "subject-list" %}">Subjects</a>
        <a href="{% url "user-list" %}">Users</a>
        <a href="{% url "position-list" %}">Positions</a>
        <a href="{% url "candidacy-list" %}">Candidacies</a>
        {% block content %}
        {% endblock content %}
    </body>
</html>
