{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <p>
        <a href="{% url 'position-new' %}">Add position</a>
    </p>
    <table>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Department</th>
            <th>Subject</th>
            <th>State</th>
            <th>Action</th>
        </tr>
    {% for position in object_list %}
        <tr>
            <td>
                <a href="{% url 'position-edit' position_id=position.pk %}">
                    APELLA{{ position.pk }}
                </a>
            </td>
            <td>{{ position.title }}</td>
            <td>{{ position.department.title }}</td>
            <td>{{ position.subject.title }}</td>
            <td>{{ position.state }}</td>
            <td>
                <a href="{% url 'candidacy-new' position_id=position.pk %}">
                    Create candidacy
                </a>
            </td>
        </tr>
    {% empty %}
        <tr colspan="6">
            <td>No positions yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
