{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <p>
        <a href="{% url 'position-new' %}">Add position</a>
    </p>
    <table>
        <tr>
            <th>Title</th>
            <th>Position ID</th>
            <th>Author</th>
            <th>State</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Action</th>
        </tr>
    {% for position in object_list %}
        <tr>
            <td>
                <a href="{% url 'position-edit' position_id=position.pk %}">
                    {{ position.title }}
                </a>
            </td>
            <td>{{ position.pk }}</td>
            <td>{{ position.author }}</td>
            <td>{{ position.state }}</td>
            <td>{{ position.starts_at }}</td>
            <td>{{ position.ends_at }}</td>
            <td>
                <a href="{% url 'candidacy-new' position_id=position.pk %}">
                    Create candidacy
                </a>
            </td>
        </tr>
    {% empty %}
        <tr colspan="6">
            <td>No positions yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
