{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <p>
        <a href="{% url 'subject-new' %}">Add subject</a>
    </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Area</th>
        </tr>
    {% for subject in object_list %}
        <tr>
            <td>
                <a href="{% url 'subject-edit' subject_id=subject.pk %}">
                    {{ subject.pk }}
                </a>
            </td>
            <td>{{ subject.title }}</td>
            <td>{{ subject.area.title }}</td>
        </tr>
    {% empty %}
        <tr colspan="4">
            <td>No subjects yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
