{% extends "apella/index.html" %}
{% load apella_extras %}
{% block content %}
    <p>
        <a href="{% url 'subject-area-new' %}">Add subject area</a>
    </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
    {% for sa in object_list %}
        <tr>
            <td>
                <a href="{% url 'subject-area-edit' subject_area_id=sa.pk %}">
                    {{ sa.pk }}
                </a>
            </td>
            <td>{{ sa.title }}</td>
        </tr>
    {% empty %}
        <tr colspan="4">
            <td>No subject areas yet.</td>
        </tr>
    {% endfor %}
    </ul>
{% endblock %}
