<div class="flex-100">{{t fattrs.text}}</div>
{{#each choices as |choice|}}
<md-input-container class="flex-25">
    {{#paper-checkbox
      value=(array-contains value choice.[0])
      onChange=(action 'handleChange' choice.[0])
      class="md-primary"}}
      {{t choice.[0] }}
    {{/paper-checkbox}}
  </md-input-container>
{{/each}}
