<footer>
  <div class="flex layout-row layout-align-center">
    <a href="http://www.minedu.gov.gr/"><img src='/apella/ui/assets/logo_minedu_{{i18n.locale}}.png' /></a>
    <a href="https://grnet.gr/"><img src='/apella/ui/assets/logo_grnet_{{i18n.locale}}.png' /></a>
  </div>
</footer>
